@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* font-family: "Montserrat", sans-serif;
font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto; */
html{
    font-size: 62.5%;
}

*{
    margin: 0.25rem 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.8rem;
}